# 项目特定忽略
exewrap1.6.5/
*.xlsm
*.xlsx
temp/




# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db